name: Release

on:

  workflow_dispatch:

  push:

    branches:
      - main

    paths:
      - "disallow-same-approver/*"
      - "optimize-apt-get/*"
      - "verify-created-release/*"
      - "delete-release/*"
      - "ecs-update-and-deploy-task-definition/*"
      - "setup-boilerplate/*"
      - "setup-ok/*"
      - "renovate-metadata/*"
      - "terraform-deploy/*"
      - "generate-tag/*"
      - "package-and-upload-artifact/*"


jobs:

  release-please:

    name: Run release-please
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:

      - name: Run Release Please
        uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4.2.0
        id: r


      - if: ${{ steps.r.outputs.releases_created }}
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0


      - if: ${{ steps.r.outputs.releases_created }}
        name: Import okctl-bot GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY_FOR_MACHINE_USER }}
          passphrase: ${{ secrets.GPG_PASSPHRASE_FOR_MACHINE_USER }}

          # Username and email is inferred from GPG key metadata
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true


      - if: ${{ steps.r.outputs.disallow-same-approver--release_created }}
        name: "[Release: disallow-same-approver] Tag major and minor versions"
        env:
          COMPONENT: disallow-same-approver
          MAJOR: ${{ steps.r.outputs.disallow-same-approver--major }}
          MINOR: ${{ steps.r.outputs.disallow-same-approver--minor }}
        run: |
          tags=("${COMPONENT}-v${MAJOR}" "${COMPONENT}-v${MAJOR}.${MINOR}")

          for tag in "${tags[@]}"; do

            # Delete old tag
            git tag -d "${tag}" || true

            # Push the tag deletion
            git push origin :"${tag}" || true

            # Add new tag
            git tag -s -a "${tag}" -m "Release ${tag}"

            # Push new tag
            git push origin "${tag}"

          done


      - if: ${{ steps.r.outputs.optimize-apt-get--release_created }}
        name: "[Release: optimize-apt-get] Tag major and minor versions"
        env:
          COMPONENT: optimize-apt-get
          MAJOR: ${{ steps.r.outputs.optimize-apt-get--major }}
          MINOR: ${{ steps.r.outputs.optimize-apt-get--minor }}
        run: |
          tags=("${COMPONENT}-v${MAJOR}" "${COMPONENT}-v${MAJOR}.${MINOR}")

          for tag in "${tags[@]}"; do

            # Delete old tag
            git tag -d "${tag}" || true

            # Push the tag deletion
            git push origin :"${tag}" || true

            # Add new tag
            git tag -s -a "${tag}" -m "Release ${tag}"

            # Push new tag
            git push origin "${tag}"

          done


      - if: ${{ steps.r.outputs.delete-release--release_created }}
        name: "[Release: delete-release] Tag major and minor versions"
        env:
          COMPONENT: delete-release
          MAJOR: ${{ steps.r.outputs.delete-release--major }}
          MINOR: ${{ steps.r.outputs.delete-release--minor }}
        run: |
          tags=("${COMPONENT}-v${MAJOR}" "${COMPONENT}-v${MAJOR}.${MINOR}")

          for tag in "${tags[@]}"; do

            # Delete old tag
            git tag -d "${tag}" || true

            # Push the tag deletion
            git push origin :"${tag}" || true

            # Add new tag
            git tag -s -a "${tag}" -m "Release ${tag}"

            # Push new tag
            git push origin "${tag}"

          done


      - if: ${{ steps.r.outputs.verify-created-release--release_created }}
        name: "[Release: verify-created-release] Tag major and minor versions"
        env:
          COMPONENT: verify-created-release
          MAJOR: ${{ steps.r.outputs.verify-created-release--major }}
          MINOR: ${{ steps.r.outputs.verify-created-release--minor }}
        run: |
          tags=("${COMPONENT}-v${MAJOR}" "${COMPONENT}-v${MAJOR}.${MINOR}")

          for tag in "${tags[@]}"; do

            # Delete old tag
            git tag -d "${tag}" || true

            # Push the tag deletion
            git push origin :"${tag}" || true

            # Add new tag
            git tag -s -a "${tag}" -m "Release ${tag}"

            # Push new tag
            git push origin "${tag}"

          done
