name: Update documentation

on:

  schedule:
    - cron: '0 8 * * *'

  workflow_dispatch:
    inputs:
      create_pr:
        type: boolean
        description: 'Create a PR with the changes'
        default: false

jobs:

  build-docs:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0


      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          cache-dependency-glob: |
            boilerplate/replace_between.py
            boilerplate/action_to_md.py


      - name: Build documentation
        run: |
          make docs


      - if: inputs.create_pr || github.event_name == 'schedule'
        name: Import okctl-bot GPG key
        id: gpg
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY_FOR_MACHINE_USER }}
          passphrase: ${{ secrets.GPG_PASSPHRASE_FOR_MACHINE_USER }}

          # Username and email is inferred from GPG key metadata
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true


      - if: inputs.create_pr || github.event_name == 'schedule'
        name: Create pull request (if changes)
        id: pr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          author: "${{ steps.gpg.outputs.name }} <${{ steps.gpg.outputs.email }}>"
          committer: "${{ steps.gpg.outputs.name }} <${{ steps.gpg.outputs.email }}>"
          title: 'docs: Update inputs docs'
          body: This PR updates the inputs docs.
          commit-message: 'docs: Update variable docs'
          add-paths: |
            ./**/README.md
          branch: update-inputs-docs
          delete-branch: true
